.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 10px 0 0 0;
	margin-bottom: 0;

	.title {
		margin-bottom: 0;
	}

	button {
		background: none;
		border: none;
		cursor: pointer;
	}
}
