.listContainer {
	margin-top: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
	list-style: none;
	padding: 0;
	height: 656px;

	.innerContainer {
		list-style: none;
		padding: 0;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		max-height: 480px;
		padding-right: 16px;
	}
}

.locked {
	margin-left: 32px;
}

.unlocked {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
	padding: 8px 0;
}
