.gridContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
	list-style: none;
	padding: 0;
	height: max-content;

	.container {
		overflow-y: auto;
		height: max-content;
		width: max-content;
		width: 277px;
		list-style: none;
		position: relative;
	}
}
