.gridContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 32px;
	list-style: none;
	padding: 0;
	height: 600px;
	overflow-y: auto;

	.container {
		height: max-content;
		width: max-content;
		width: 277px;
		list-style: none;
	}
}
