:root {
	background-color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	background-color: black;
}

@font-face {
	font-weight: 300;
	font-family: 'JetBrainsMono';
	font-style: normal;
	src: url('./fonts/jet-brains-mono/JetBrainsMono-Regular.ttf');
}
